.Rproj.user
.Rhistory
.RData
.Ruserdata
99-resources
*solution
*solutions
STATS-ASE 101 Brandon Kim.pdf
past-grade-distributions.JPG
Capture.JPG
/.quarto/
/_site/
/midterms/midterm-exam-2/review-2/midterm_2_review-partial-key.qmd
/midterms/midterm-exam-2/review-2/midterm_2_review-partial-key.html
/midterms/midterm-exam-2/in-class-exam-2/exam-2-plan.md
/midterms/midterm-exam-2/in-class-exam-2/midterms/data
/midterms/midterm-exam-2/in-class-exam-2/midterm-2-images

/midterms/midterm-exam-1/actual_midterm-1.qmd
/midterms/midterm-exam-1/actual_midterm-1.html

/midterms/midterm-exam-2/actual_midterm-2.qmd


