.Rproj.user
.Rhistory
.RData
.Ruserdata
99-resources
*solution
*solutions
STATS-ASE 101 Brandon Kim.pdf
past-grade-distributions.JPG
Capture.JPG
/.quarto/
/_site/
/midterms/actual_midterm.qmd
/midterms/actual_midterm.html
/midterms/solutions